*.pyc
__pycache__/*
*.out
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*/__pycache__/*
input/*
*.ipynb
*/*.ipynb
*gfx/*
*trained_models/*
loss_schedule_exp/trained_models*
*.perun*
run*.sh
SSM/*
*.pdf 
*.png
partialdata.zarr/*
*results/*
*.sh
train2.py
*/*.pt
data_download/calculate_static.py
data_download/calculate_static_netcdf.py
data_download/download_pressures.py
data_download/download_surface.py
data_download/write_pressure_to_hdf5.py
utils/dataReformatter.py
