*.pyc
__pycache__/*
*.out
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*/__pycache__/*
input/*
*.ipynb
*gfx/*
trained_models/*
*.perun*
run*.sh
SSM/*
*.pdf 
*.png
partialdata.zarr/*
*results/*
*.sh
train2.py
